<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>All users</h2>
<table id="users">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usr : ${users}">
        <td th:text="${usr.id}"></td>
        <td th:text="${usr.name}">Admin</td>
        <td th:text="${usr.age}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>